<div class="container">
  <h1>911 Form</h1><br>
  <form>

    <label>Date : {{model.callTime}}</label>
    <div class="form-group">
      <label for="type">Emergency Type</label>
      <select class="form-control" id="type" required>
        <option *ngFor="let type of emergencyType" [value]="type">{{type}}</option>
      </select>

    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" required>
    </div>

    <div class="form-group">
      <label for="type">Sexe</label>
      <select class="form-control" id="sex" required>
        <option *ngFor="let sex of sex" [value]="sex">{{sex}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required>
    </div>

    <div class="form-group">
      <label for="nbr">Number of Victims</label>
      <input type="number" class="form-control" id="nbr" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>